.btn {
  font-size: .875rem;
  font-weight: 500;
  min-width: 144px;
  padding: 14.5px 28px;
  letter-spacing: .075rem;
  text-transform: uppercase;
  color: var(--dark-500);
  border-width: 1px;
  border-radius: .5rem;
  box-shadow: none !important;

  &:hover, &:focus, &:active {
    border-color: transparent;
    background: rgb(255 255 255 / 0.1);
  }
}

.btn-soft {
  border-color: rgb(255 255 255 / 0.02);
  background: rgb(255 255 255 / 0.04);

  &.active {
    border-color: rgb(255 255 255 / 0.1);
    background: rgb(255 255 255 / 0.04);
  }
}

.btn-sm {
  font-size: 13px;
  min-width: auto;
  padding: 12px 24px;
}

.btn-cube {
  min-width: 47px;
  padding: 11px;
}

.btn .fa-regular {
  font-size: 1rem;
}

.btn-primary {
  color: var(--dark-900);
  border-color: var(--yellow);
  background-color: var(--yellow);

  &:hover, &:focus, &:active {
    color: var(--dark-900);
    border-color: var(--yellow-hover);
    background-color: var(--yellow-hover);
  }
}

.btn-outline-primary {
  color: #fff;
  border-color: var(--yellow);
  background-color: transparent;

  &:hover {
    color: var(--dark-900);
    border-color: var(--yellow);
    background-color: var(--yellow);
  }
}

.btn-outline-secondary {
  color: #fff;
  border-color: var(--grey-900);
  background-color: var(--dark-700);

  &:hover {
    color: #fff;
    border-color: var(--grey-900);
    background-color: var(--grey-900);
  }
}

.btn-secondary {
  color: #fff;
  border-color: var(--dark-700);
  background-color: var(--dark-700);

  &:hover, &:focus, &:active {
    color: #fff;
    border-color: var(--grey-900);
    background-color: var(--grey-900);
  }
}

.btn-play__icon {
  display: flex;
  width: 56px;
  height: 56px;
  transition: all .4s;
  border: 2px solid var(--grey-700);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.btn-dark {
  border-color: var(--dark-900);
  background-color: var(--dark-900);

  &:hover {
    border-color: var(--grey-900);
    background-color: var(--grey-900);
  }
}

.btn-filter {
  visibility: hidden;
}
