<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover"
    name="viewport"
  >
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="telephone=no" name="format-detection">
  <meta content="translate" name="google">
  <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/logo/apple-icon-57x57.png}">
  <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/logo/apple-icon-60x60.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/logo/apple-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/logo/apple-icon-76x76.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/logo/apple-icon-114x114.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/logo/apple-icon-120x120.png}">
  <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/logo/apple-icon-144x144.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/logo/apple-icon-152x152.png}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logo/apple-icon-180x180.png}">
  <link rel="icon" sizes="192x192" th:href="@{/img/logo/android-icon-192x192.png}" type="image/png">
  <link rel="icon" sizes="32x32" th:href="@{/img/logo/favicon-32x32.png}" type="image/png">
  <link rel="icon" sizes="96x96" th:href="@{/img/logo/favicon-96x96.png}" type="image/png">
  <link rel="icon" sizes="16x16" th:href="@{/img/logo/favicon-16x16.png}" type="image/png">
  <link href="/manifest.json" rel="manifest">
  <meta content="#ffffff" name="msapplication-TileColor">
  <meta content="./assets/img/logo/apple-icon-114x114.png" name="msapplication-TileImage">
  <meta content="#050b1c" name="theme-color">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
        name="viewport"
  >
  <meta content="Libermall" property="og:site_name"/>
  <meta content="Libermall" property="og:title"/>
  <meta content="The easiest way to store, send, and receive Toncoin on The Open Network" property="og:description"/>
  <meta content="/img/libermall-preview.png" property="og:image"/>
  <meta content="https://Libermall.com" property="og:url"/>
  <meta content="Libermall" name="twitter:title">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="/wallet-preview.png" name="twitter:image"/>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <script async crossorigin="anonymous" th:src="@{/js/fontawesome-pro.min.js}"></script>
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Libermall - an NFT marketplace</title>
</head>
<body>
<!-- Start of header section
   ============================================= -->
<header class="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg d-flex align-items-center p-0">
      <a class="navbar-logo me-5" href="/">
        <img alt="Libermall - NFT Marketplace" class="navbar-logo__img"
             th:src="@{/img/logo/apple-icon-57x57.png}"
        >
        <span class="navbar-logo__name d-none d-xxl-block">Libermall</span>
      </a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler btn btn-secondary order-2 order-xl-1 ms-3" data-bs-target="#navbarHeader"
              data-bs-toggle="collapse"
              type="button"
      >
        <i class="fa-regular fa-bars fs-20"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarHeader">
        <form
          class="header__search flex-fill d-block d-lg-none d-xl-block mx-0 mx-lg-5 mb-3 mb-lg-0 order-1 order-lg-2"
        >
          <div class="input-group">
            <input aria-describedby="basic-addon2" aria-label="Search" class="form-control" placeholder="Search ..."
                   type="text"
            >
            <div class="input-group-text p-0">
              <button class="btn" type="submit">
                <i class="fa-solid fa-magnifying-glass color-grey"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="dropdown order-4 order-lg-1">
          <button aria-expanded="false" class="btn btn-primary d-flex flex-nowrap align-items-center"
                  data-bs-toggle="dropdown"
                  id="dropdownMenuCat" type="button"
          >
            <i class="fa-regular fa-grid-2 me-2"></i>
            Explore
          </button>
          <ul aria-labelledby="dropdownMenuCat" class="dropdown-menu animate slideIn mt-3">
            <li><a class="dropdown-item" href="/explore"><i class="fa-regular fa-hexagon-vertical-nft-slanted me-3"></i>All
              NFTs</a></li>
            <!--/*
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-hexagon-image me-3"></i>Solanas</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-paintbrush-fine me-3"></i>Art</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-rabbit me-3"></i>Collectibles</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-server me-3"></i>Domain Names</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-music me-3"></i>Music</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-camera me-3"></i>Photography</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-futbol me-3"></i>Sports</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-heart-circle-bolt me-3"></i>Trading Cards</a>
            </li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-money-bills-simple me-3"></i>Utility</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-vr-cardboard me-3"></i>Virtual Worlds</a></li>
            */-->
          </ul>
        </div>
        <ul class="navbar-nav d-flex flex-row py-4 py-lg-0 ms-0 ms-lg-auto pe-5 order-2 order-lg-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create</a>
          </li>
        </ul>
        <!-- /* IF NOT CONNECTED
        <button class="btn btn-soft d-flex flex-nowrap align-items-center btn-mobile-fixed order-3 order-lg-4"
                data-bs-target="#ConnectModal"
                data-bs-toggle="modal" type="button"
        >
          <i class="fa-regular fa-arrow-right-to-arc me-2"></i>
          Connect
        </button>
        */ -->
        <!--/* ELSE
        <div class="dropdown dropstart order-3 order-lg-4">
          <button aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuProfile" type="button">
            <img alt="" class="rounded-circle profile-image" height="42" th:src="@{/img/user-1.svg}"
                 width="42"
            >
          </button>
          <ul aria-labelledby="dropdownMenuProfile" class="dropdown-menu">
            <li><a class="dropdown-item" href="/my-profile.php"><i class="fa-regular fa-user me-3"></i>Profile</a></li>
            <li><a class="dropdown-item" href="/create-nft.php"><i class="fa-regular fa-hexagon-vertical-nft me-3"></i>Create
              NFT</a></li>
            <li><a class="dropdown-item border-0" href="#"><i class="fa-regular fa-link-simple-slash me-3"></i>Disconnect</a>
            </li>
          </ul>
        </div>
        */-->
      </div>
    </nav>
  </div>
</header>
<section layout:fragment="hero"></section>
<main class="main-page" layout:fragment="content"></main>
<section class="partners section bg-grey">
  <div class="partners__container">
    <div class="container-fluid">
      <div class="row overflow-auto">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-1.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-2.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-3.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-4.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-5.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-6.svg}">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END of Partners section
   ============================================= -->
<!-- Start of Footer section
   ============================================= -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row accordion modified-collapse" id="accordionFooter">
      <div class="col-md-12 col-lg-3 me-auto mb-5 mb-lg-0">
        <div class="footer__logo d-flex align-items-center mb-4">
          <img alt="Libermall - NFT Marketplace" class="navbar-logo__img" th:src="@{/img/logo/apple-icon-57x57.png}">
          <span class="navbar-logo__name fs-24 d-none d-md-block ms-3">Libermall</span>
        </div>
        <div class="footer__text mb-5">
          <h4 class="fs-18">Stay in the loop</h4>
          <p class="color-grey">
            Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and tricks
            for navigating OpenSea.
          </p>
        </div>
        <div class="input-group mb-5">
               <span class="input-group-text" id="basic-addon1">
               <i class="fa-regular fa-envelope fs-18 color-grey"></i>
               </span>
          <input class="form-control" placeholder="Enter email address" type="text">
          <div class="input-group-text p-1">
            <button class="btn btn-primary" style="min-width: 100px;">Send</button>
          </div>
        </div>
        <div class="libermall__soclinks">
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-telegram"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-discord"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-twitter"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-12 col-lg-2 py-3 py-lg-0">
        <h4 aria-controls="FooterMenu-one" aria-expanded="false"
            class="d-flex align-items-center text-uppercase fs-18 mb-0 mb-lg-4" data-bs-target="#FooterMenu-one"
            data-bs-toggle="collapse"
            style="letter-spacing: 1px;"
        >
          <span class="me-auto">Marketplace</span>
          <i class="fa-regular fa-angle-down d-block d-lg-none"></i>
        </h4>
        <ul class="list-unstyled accordion-collapse collapse mt-4 mt-lg-0" data-bs-parent="#accordionFooter"
            id="FooterMenu-one"
        >
          <li class="mb-2">
            <a href="#!">All NFTs</a>
          </li>
          <li class="mb-2">
            <a href="#!">Solana NFTs</a>
          </li>
          <li class="mb-2">
            <a href="#!">Art</a>
          </li>
          <li class="mb-2">
            <a href="#!">Collectibles</a>
          </li>
          <li class="mb-2">
            <a href="#!">Domain Names</a>
          </li>
          <li class="mb-2">
            <a href="#!">Music</a>
          </li>
          <li class="mb-2">
            <a href="#!">Photography</a>
          </li>
          <li class="mb-2">
            <a href="#!">Sports</a>
          </li>
          <li class="mb-2">
            <a href="#!">Trading Cards</a>
          </li>
          <li class="mb-2">
            <a href="#!">Utility</a>
          </li>
          <li>
            <a href="#!">Virtual Worlds</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-2 py-3 py-lg-0">
        <h4 aria-controls="FooterMenu-two" aria-expanded="false"
            class="d-flex align-items-center text-uppercase fs-18 mb-0 mb-lg-4" data-bs-target="#FooterMenu-two"
            data-bs-toggle="collapse"
            style="letter-spacing: 1px;"
        >
          <span class="me-auto">My Account</span>
          <i class="fa-regular fa-angle-down d-block d-lg-none"></i>
        </h4>
        <ul class="list-unstyled accordion-collapse collapse mt-4 mt-lg-0" data-bs-parent="#accordionFooter"
            id="FooterMenu-two"
        >
          <li class="mb-2">
            <a href="#!">Profile</a>
          </li>
          <li class="mb-2">
            <a href="#!">Favorites</a>
          </li>
          <li class="mb-2">
            <a href="#!">Watchlist</a>
          </li>
          <li class="mb-2">
            <a href="#!">My Collections</a>
          </li>
          <li class="mb-2">
            <a href="#!">Settings</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-2 py-3 py-lg-0">
        <h4 aria-controls="FooterMenu-three" aria-expanded="false"
            class="d-flex align-items-center text-uppercase fs-18 mb-0 mb-lg-4" data-bs-target="#FooterMenu-three"
            data-bs-toggle="collapse"
            style="letter-spacing: 1px;"
        >
          <span class="me-auto">Resources</span>
          <i class="fa-regular fa-angle-down d-block d-lg-none"></i>
        </h4>
        <ul class="list-unstyled accordion-collapse collapse mt-4 mt-lg-0" data-bs-parent="#accordionFooter"
            id="FooterMenu-three"
        >
          <li class="mb-2">
            <a href="#!">Help Center</a>
          </li>
          <li class="mb-2">
            <a href="#!">Platform Status</a>
          </li>
          <li class="mb-2">
            <a href="#!">Partners</a>
          </li>
          <li class="mb-2">
            <a href="#!">Gas-Free Marketplace</a>
          </li>
          <li class="mb-2">
            <a href="#!">Taxes</a>
          </li>
          <li class="mb-2">
            <a href="#!">Blog</a>
          </li>
          <li class="mb-2">
            <a href="#!">Docs</a>
          </li>
          <li>
            <a href="#!">Newsletter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-2 py-3 py-lg-0">
        <h4 aria-controls="FooterMenu-four" aria-expanded="false"
            class="d-flex align-items-center text-uppercase fs-18 mb-0 mb-lg-4" data-bs-target="#FooterMenu-four"
            data-bs-toggle="collapse"
            style="letter-spacing: 1px;"
        >
          <span class="me-auto">Company</span>
          <i class="fa-regular fa-angle-down d-block d-lg-none"></i>
        </h4>
        <ul class="list-unstyled accordion-collapse collapse mt-4 mt-lg-0" data-bs-parent="#accordionFooter"
            id="FooterMenu-four"
        >
          <li class="mb-2">
            <a href="#!">About</a>
          </li>
          <li class="mb-2">
            <a href="#!">Careers</a>
          </li>
          <li class="mb-2">
            <a href="#!">Ventures</a>
          </li>
          <li>
            <a href="#!">Grants</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom color-grey border-top pt-5 mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-3 mb-md-0">
          <span class="me-auto">©2022 Libermall, Inc</span>
        </div>
        <div class="col-sm-12 col-md-6 ms-auto text-end">
          <a class="me-3" href="#!">Privacy Police</a>
          <a href="#!">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Login Modal -->
<div aria-hidden="true" aria-labelledby="loginModalTitle" class="modal fade" id="loginModal" role="dialog"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Footer section
   ============================================= -->
<!-- Connect Modal -->
<div aria-hidden="true" class="modal fade" id="ConnectModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header d-block border-0 mb-3">
        <h5 class="modal-title mb-2 fs-24" id="ConnectModalLabel">Connect wallet</h5>
        <p class="fs-18 color-grey pe-5">
          Choose how you want to connect. There are several wallet providers.
        </p>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <a class="d-flex align-items-center border rounded bg-grey hover-grey mb-3 p-3" href="/profile.php">
          <div class="d-flex align-items-center">
            <img alt="Ton Wallet" class="wc-img" height="40" src="./assets/img/ton-wallet.png" width="40">
            <span class="fs-18 ms-4">Ton Wallet</span>
          </div>
          <div class="ms-auto">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
        <a class="d-flex align-items-center border rounded bg-grey hover-grey mb-3 p-3" href="#!">
          <div class="d-flex align-items-center">
            <img alt="Tonkeeper" class="wc-img" height="40" src="./assets/img/tonkeeper.png" width="40">
            <span class="fs-18 ms-4">Tonkeeper</span>
          </div>
          <div class="ms-auto">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
        <a class="d-flex align-items-center border rounded bg-grey hover-grey p-3" href="#!">
          <div class="d-flex align-items-center">
            <img alt="Tonhub" class="wc-img" height="40" src="./assets/img/tonhub.png" width="40">
            <span class="fs-18 ms-4">Tonhub</span>
          </div>
          <div class="ms-auto">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Message Modal -->
<div aria-hidden="true" aria-labelledby="MessageModalLabel" class="modal fade" id="MessageModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title" id="MessageModalLabel">New message</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label" for="recipient-name">Recipient:</label>
            <input class="form-control bg-soft" id="recipient-name" type="text" value="@Tegro">
          </div>
          <div class="mb-4">
            <label class="col-form-label" for="message-text">Message:</label>
            <textarea class="form-control bg-soft" id="message-text"></textarea>
          </div>
        </form>
        <button class="btn btn-sm btn-primary float-end" type="button">Send message</button>
      </div>
    </div>
  </div>
</div>
<!-- Buy Now Modal -->
<div aria-hidden="true" aria-labelledby="BuyNowModalLabel" class="modal fade" id="BuyNowModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="BuyNowModalLabel">Buy NFT</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body mb-3">
        <div class="d-flex align-items-center bg-soft hover rounded p-2 mb-3">
          <img alt="Tergo Cat" class="rounded image-80x80" src="/assets/img/item-details-image.jpg">
          <div class="__body ms-3">
            <h5 class="fs-18 mb-2">TON NFT Tegro Cat #101</h5>
            <p class="mb-0 color-grey fs-14">TON NFT Tegro Cat</p>
          </div>
        </div>
        <ul class="list-unstyled mb-3 px-1">
          <li class="d-flex align-items-center mb-1">
            <span>NFT Price</span>
            <span class="ms-auto">22.5 TON</span>
          </li>
          <li class="d-flex align-items-center fs-14 color-grey mb-1">
            <span>Creator Royalties</span>
            <span class="ms-auto">0.525 TON</span>
          </li>
          <li class="d-flex align-items-center fs-14 color-grey mb-3">
            <span>Service Fee</span>
            <span class="ms-auto">0.875 TON</span>
          </li>
          <li class="d-flex align-items-center mb-1">
            <span>Network Fee</span>
            <span class="ms-auto">1 TON</span>
          </li>
          <li class="d-flex align-items-center fs-14 color-grey">
            <span>The rest will be returned to your wallet</span>
          </li>
        </ul>
        <div class="d-flex align-items-center bg-soft border rounded fs-18 fw-medium p-3 mb-3">
          <span>You Pay</span>
          <span class="ms-auto">18.5 TON</span>
        </div>
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading fs-16">Well done!</h4>
          <p class="mb-2 fs-14">
            Libermall is unaffiliated with any NFT projects. We are not responsible for possible losses. Invest at your
            own risk.
          </p>
          <a class="color-yellow" href="#!">Learn More</a>
        </div>
      </div>
      <button class="btn btn-primary w-100" data-bs-target="#ConnectModal" data-bs-toggle="modal" type="button">Buy for
        23.5 TON
      </button>
    </div>
  </div>
</div>
<!-- Put up for Sale Modal -->
<div aria-hidden="true" aria-labelledby="SelectTypeModalLabel" class="modal fade" id="SelectTypeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Select Type</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <button class="d-flex w-100 text-start border rounded bg-grey hover-grey mb-3 p-3"
                data-bs-target="#EnterPriceModal"
                data-bs-toggle="modal" type="button"
        >
          <i class="fa-regular fa-tag fs-20 mt-1"></i>
          <div class="__body ms-3">
            <h5 class="fs-18 mb-2">Fixed Price</h5>
            <p class="color-grey fs-14 mb-0">
              Enter a price so users can instantly buy your NFT
            </p>
          </div>
          <i class="fa-regular fa-angle-right my-auto ms-auto"></i>
        </button>
        <button class="d-flex w-100 text-start border rounded bg-grey hover-grey p-3" data-bs-target="#PutAuctionModal"
                data-bs-toggle="modal" type="button"
        >
          <i class="fa-regular fa-gavel fs-20 mt-1"></i>
          <div class="__body ms-3">
            <h5 class="fs-18 mb-2">Auction</h5>
            <p class="color-grey fs-14 mb-0">
              Allow other users to bet on your NFT
            </p>
          </div>
          <i class="fa-regular fa-angle-right my-auto ms-auto"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Put up for Sale Modal -->
<div aria-hidden="true" aria-labelledby="EnterPriceModalLabel" class="modal fade" id="EnterPriceModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Enter Price</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="mb-1" for="">Price</label>
          <div class="input-group mb-4">
            <input class="form-control" placeholder="Enter Price" type="text" value="10">
            <span class="input-group-text" id="basic-addon1">TON</span>
          </div>
          <ul class="list-unstyled mb-4 pb-4 border-bottom">
            <li class="d-flex align-items-center mb-3">
                     <span class="color-grey">
                     Service fee
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="The commission that the marketplace takes when selling NFTs"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">0.5 TON</span>
            </li>
            <li class="d-flex align-items-center">
                     <span class="color-grey">
                     Royalties
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="Percentage of the NFT value that the author receives on each resale"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">0.5 TON</span>
            </li>
          </ul>
          <div class="d-flex align-items-center fw-medium mb-5">
            <span>You'll get</span>
            <span class="ms-auto">9 TON</span>
          </div>
          <button class="btn btn-primary w-100" data-bs-target="#CreateContractModal" data-bs-toggle="modal"
                  type="button"
          >Put up for sale
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Create a Contract Modal -->
<div aria-hidden="true" aria-labelledby="CreateContractModalLabel" class="modal fade" id="CreateContractModal"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Almost done</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled mb-4">
          <li class="d-flex mb-4">
            <i class="fa-regular fa-circle-check fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Create a sales contract</h5>
              <p class="mb-0 color-grey">
                To sell NFT, you need to create a sales contract
              </p>
            </div>
          </li>
          <li class="d-flex">
            <i class="fa-duotone fa-spinner-third fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Creation and verification</h5>
              <p class="mb-0 color-grey">
                Confirm the transaction in your wallet. After confirmation, verification usually takes some time.
              </p>
            </div>
          </li>
        </ul>
        <div class="p-3 p-md-4 border rounded text-center mb-4">
          <h4 class="fs-18 mb-4">Scan the QR code in Tonkeeper</h4>
          <img alt="" class="img-fluid rounded mb-3" height="300" src="/assets/img/qr-code.jpg" width="300">
          <a class="color-yellow d-block" href="#!"><i class="fa-regular fa-copy me-2"></i> Copy address</a>
        </div>
        <button aria-label="Close" class="btn btn-soft w-100" data-bs-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Almost Done Auction Modal -->
<div aria-hidden="true" aria-labelledby="AlmostDoneAuctionModalLabel" class="modal fade" id="AlmostDoneAuctionModal"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Almost done</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled mb-4">
          <li class="d-flex">
            <i class="fa-duotone fa-spinner-third fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Creation and verification</h5>
              <p class="mb-0 color-grey">
                Confirm the transaction in your wallet. After confirmation, verification usually takes some time.
              </p>
            </div>
          </li>
        </ul>
        <div class="p-3 p-md-4 border rounded text-center mb-4">
          <h4 class="fs-18 mb-4">Scan the QR code in Tonkeeper</h4>
          <img alt="" class="img-fluid rounded mb-3" height="300" src="/assets/img/qr-code.jpg" width="300">
          <a class="color-yellow d-block" href="#!"><i class="fa-regular fa-copy me-2"></i> Copy address</a>
        </div>
        <button aria-label="Close" class="btn btn-soft w-100" data-bs-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Auction Modal -->
<div aria-hidden="true" aria-labelledby="EndAuctionModalLabel" class="modal fade" id="EndAuctionModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Bets are no longer accepted</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <div class="p-3 p-md-4 border rounded text-center mb-4">
          <div class="fs-18 mb-4">Scan the QR code and pay <span class="fw-bold">0.05 TON</span> <br> to Tonkeeper</div>
          <img alt="" class="img-fluid rounded mb-3" height="300" src="/assets/img/qr-code.jpg" width="300">
          <a class="d-block" href="#!"><i class="fa-regular fa-copy me-2"></i> Copy address</a>
        </div>
        <div class="alert alert-warning text-center mb-4">
          👉 After payment, click the button
        </div>
        <button class="btn btn-primary w-100" type="button">Check payment</button>
      </div>
    </div>
  </div>
</div>
<!-- Put up for Auction Modal -->
<div aria-hidden="true" aria-labelledby="PutAuctionModalLabel" class="modal fade" id="PutAuctionModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Put up for auction</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center bg-soft rounded p-2 mb-4">
          <img alt="Tergo Cat" class="rounded image-80x80" src="/assets/img/item-details-image.jpg">
          <div class="__body ms-3">
            <h5 class="fs-18 mb-2">TON NFT Tegro Cat #101</h5>
            <p class="mb-0 color-grey fs-14">TON NFT Tegro Cat</p>
          </div>
        </div>
        <div class="mb-4">
          <h5 class="fs-18">Minimum bet</h5>
          <p class="color-grey">
            Bets below this amount are not allowed. You will only be able to accept the most recent high bid.
          </p>
          <div class="input-group">
            <input class="form-control" placeholder="Enter your minimum bid" type="text">
            <span class="input-group-text" id="basic-addon1">TON</span>
          </div>
        </div>
        <div class="mb-4">
          <h5 class="fs-18">Expiration date</h5>
          <p class="color-grey">
            <span>Until September 14, 17:54.</span> The auction will end automatically. The one who offers the highest
            bid wins.
          </p>
          <select aria-label="Default select example" class="form-select border">
            <option selected>7 days</option>
            <option value="1">14 days</option>
            <option value="2">1 month</option>
          </select>
        </div>
        <div class="mb-4">
          <div class="d-flex align-items-center mb-2">
            <h5 class="fs-18 mb-0">Maximum bet</h5>
            <div class="form-check form-switch ms-auto">
              <input class="form-check-input p-2" id="flexSwitchCheckDefault" type="checkbox">
            </div>
          </div>
          <p class="mb-0 color-grey">
            If someone bids that amount, the NFT will be given <br> to the buyers and the auction will be closed.
          </p>
        </div>
        <div class="mb-5">
          <div class="d-flex align-items-center mb-2">
            <h5 class="fs-18 mb-0">Step</h5>
            <div class="form-check form-switch ms-auto">
              <input class="form-check-input p-2" id="flexSwitchCheckDefault" type="checkbox">
            </div>
          </div>
          <p class="mb-0 color-grey">
            Each new bet must be higher than the previous one <br> by this amount of TON
          </p>
        </div>
        <button class="btn btn-primary w-100" data-bs-target="#AlmostDoneAuctionModal" data-bs-toggle="modal"
                type="button"
        >Put up for auction
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Update Cover Modal -->
<div aria-hidden="true" aria-labelledby="UpdateCoverModalLabel" class="modal fade" id="UpdateCoverModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-2">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Update Cover</h5>
      </div>
      <div class="modal-body">
        <p class="color-grey mb-5">
          Upload new cover for your page. We recommend to upload image in 1920x340 resolution. Max 15 mb.
        </p>
        <div class="mb-3">
          <label class="btn btn-sm btn-primary w-100" for="formFile">Choose file</label>
          <input class="form-control d-none" id="formFile" type="file">
        </div>
        <button aria-label="Close" class="btn btn-sm btn-soft w-100" data-bs-dismiss="modal" type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Share Modal -->
<div aria-hidden="true" aria-labelledby="ShareModalLabel" class="modal fade" id="ShareModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-5">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Share</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <div class="libermall__soclinks justify-content-center p-2 border rounded">
          <a class="libermall__soclinks-item ms-0" href="#!"><i class="fa-brands fa-telegram"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-discord"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-instagram"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-linkedin-in"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-reddit-alien"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How Auctions Work Modal -->
<div aria-hidden="true" aria-labelledby="HowAuctionsWorkModalLabel" class="modal fade" id="HowAuctionsWorkModal"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-5">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">How timed auctions work</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        When you put your NFT on timed auction, you choose currency, minimum bid, starting and ending dates of your
        auction.<br><br>The bidder can only place a bid which satisfies the following conditions:<br><br>
        <ol class="sc-fKknU cScerJ">
          <li>It is at least minimum bid set for the auction</li>
          <li>It is at least 5% higher than the current highest bid in equivalent</li>
        </ol>
        <br>Note that some bids may disappear with time if the bidder withdraws their balance. At the same time, some
        bids may reappear if the bidder has topped up their balance again.<br><br>Auction cannot be cancelled after any
        valid bid was made. Any bid placed in the last 10 minutes extends the auction by 10 minutes.<br><br>In the 48
        hours after the auction ends you will only be able to accept the highest available bid placed during the
        auction. As with regular bids, you will need to pay some gas to accept it.Note that you can always decrease the
        price of your listing for free, without making a transaction or paying gas. You can view all your NFTs here.
      </div>
    </div>
  </div>
</div>
<!-- Create Collection Modal -->
<div aria-hidden="true" aria-labelledby="CreateCollectionModalLabel" class="modal fade" id="CreateCollectionModal"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Create Collection ERC-721</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <form class="modal-body">
        <div class="d-flex mb-5">
          <div class="me-3">
            <img alt="" class="img-fluid rounded" height="120" src="/assets/img/user-1.svg" width="120">
          </div>
          <div>
            <p class="color-grey">
              We recommend an image of at least 300x300. Gifs work too. Max 5mb.
            </p>
            <div>
              <label class="btn btn-sm btn-soft" for="formFile">Choose file</label>
              <input class="form-control d-none" id="formFile" type="file">
            </div>
          </div>
        </div>
        <div class="mb-4">
          <h4 class="fs-16 mb-3">Display name <span class="color-grey fs-14 ms-1">(required)</span></h4>
          <input class="form-control mb-2" placeholder="Enter collection name" required="" type="text">
          <span class="fw-medium fs-14 color-grey px-1">Token name cannot be changed in future</span>
        </div>
        <div class="mb-4">
          <h4 class="fs-16 mb-3">Symbol <span class="color-grey fs-14 ms-1">(required)</span></h4>
          <input class="form-control" placeholder="Enter token symbol" required="" type="text">
        </div>
        <div class="mb-4">
          <h4 class="fs-16 mb-3">Description <span class="color-grey fs-14 ms-1">(Optional)</span></h4>
          <textarea class="form-control p-3" placeholder="Spread some words about your token collection"
                    style="height: 70px"
          ></textarea>
        </div>
        <div class="mb-4">
          <h4 class="fs-16 mb-3">Short url</h4>
          <div class="input-group mb-2">
            <span class="input-group-text">libermall.com/</span>
            <input class="form-control" placeholder="Enter short url" type="text">
          </div>
          <span class="fw-medium fs-14 color-grey px-1">Will be used as public URL</span>
        </div>
        <button class="btn btn-sm btn-primary w-100" type="button">Create Collection</button>
      </form>
    </div>
  </div>
</div>
<!-- Follow Steps Modal -->
<div aria-hidden="true" aria-labelledby="FollowStepsModalLabel" class="modal fade" id="FollowStepsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-5">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Follow Steps</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled mb-5">
          <li class="d-flex mb-4">
            <i class="fa-duotone fa-spinner-third fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Upload</h5>
              <p class="mb-0 color-grey">
                Uploading off all media assets and metadata to IPFS
              </p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <i class="fa-regular fa-circle-check fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Mint</h5>
              <p class="mb-0 color-grey">
                Send transaction to create your NFT
              </p>
            </div>
          </li>
          <li class="d-flex">
            <i class="fa-regular fa-circle-check fa-2x color-yellow"></i>
            <div class="ms-3">
              <h5 class="fs-16">Start auction</h5>
              <p class="mb-0 color-grey">
                Sign message to create timed auction
              </p>
            </div>
          </li>
        </ul>
        <button class="btn btn-soft w-100" data-bs-target="#CreatNFTSuccessfullyModal" data-bs-toggle="modal">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Creat NFT Successfully Modal -->
<div aria-hidden="true" aria-labelledby="CreatNFTSuccessfullyModalLabel" class="modal fade"
     id="CreatNFTSuccessfullyModal"
     tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-body">
        <div class="d-flex align-items-center bg-soft rounded p-2 mb-4">
          <img alt="Tergo Cat" class="rounded image-80x80" src="/assets/img/item-details-image.jpg">
          <div class="__body ms-3">
            <h5 class="fs-18 mb-0">Your <span class="color-yellow">Tegro Cat #133 NFT</span> <br> successfully created
            </h5>
          </div>
        </div>
        <ul class="list-unstyled p-3 border rounded mb-5">
          <li class="d-flex mb-3">
            <span class="color-grey">Status</span>
            <span class="ms-auto">Transaction hash</span>
          </li>
          <li class="d-flex">
            <span class="color-green">Confirmed</span>
            <span class="d-block text-truncate ms-auto" style="max-width: 150px;">
                  EQDZr7KDKG0R4Kyauz-iRetnuY7nMKXFIEQn4-44vzygNEvj
                  </span>
          </li>
        </ul>
        <h4 class="fs-18 text-center mb-3">Let's show-off a little</h4>
        <div class="libermall__soclinks justify-content-center mb-5 p-2 border rounded">
          <a class="libermall__soclinks-item ms-0" href="#!"><i class="fa-brands fa-telegram"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-discord"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-instagram"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-linkedin-in"></i></a>
          <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-reddit-alien"></i></a>
        </div>
        <div>
          <button aria-label="Close" class="btn btn-primary w-100 mb-2" data-bs-dismiss="modal">View NFT</button>
          <button aria-label="Close" class="btn btn-soft w-100" data-bs-dismiss="modal">Create another</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/jquery-migrate@3.4.0/dist/jquery-migrate.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
<script defer th:src="@{/js/app.js}"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<div id="floatingmes">Shift + Mouse scroll 🤓</div>
</body>
</html>
