<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="../../static/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="../../static/bundle.css" rel="stylesheet">
  <script defer src="../../static/bundle.js"></script>
</head>
<body>
<div aria-hidden="true" class="top-0 left-0 z-40 w-full h-full bg-dark-900/[.6]" id="ConnectModal" tabindex="-1"
     th:fragment="connect_modal"
     v-bind:class="connection.isModalOpen ? 'fixed' : 'hidden'"
     v-scope="{}"
>
  <div class="mx-auto flex items-center relative w-auto max-w-lg min-h-screen">
    <div class="bg-dark-700 rounded-3xl p-10 relative flex flex-col w-full h-full min-h-full gap-4">
      <div class="">
        <h5 class="text-2xl font-raleway font-bold mb-2" id="ConnectModalLabel">Connect wallet</h5>
        <p class="text-lg text-gray-500">
          Choose how you want to connect. More options will be added in the future.
        </p>
        <button aria-label="Close" class="absolute top-6 right-8 opacity-50" type="button"
                v-on:click="connection.isModalOpen = false"
        >
          <i class="fa-solid fa-xmark text-2xl"></i>
        </button>
      </div>
      <div class="">
        <a class="flex items-center gap-4 rounded-lg bg-gray-900 hover:text-yellow-hover mb-4 p-4"
           v-if="connection.isTonWalletAvailable"
           v-on:click="connection.isModalOpen = false; connection.connectTonWallet()"
        >
          <img alt="Ton Wallet" class="wc-img" height="40" src="../../static/img/ton-wallet.png"
               th:src="@{/img/ton-wallet.png}" width="40"
          >
          <span class="text-lg">Ton Wallet</span>
          <div class="ml-auto">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
