<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div aria-hidden="true" aria-labelledby="EnterPriceModalLabel" class="modal fade" id="SellModal" tabindex="-1"
     th:fragment="sell_modal(itemAddress)" v-scope="{priceTon: 10.0}"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Sell Item</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="mb-1" for="">Price</label>
          <div class="input-group mb-4">
            <input class="form-control" placeholder="Enter Price" type="text" v-model="priceTon">
            <span class="input-group-text" id="basic-addon1">TON</span>
          </div>
          <ul class="list-unstyled mb-4 pb-4 border-bottom">
            <li class="d-flex align-items-center mb-3">
                     <span class="color-grey">
                     Service fee
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="The commission that the marketplace takes when selling NFTs"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">0.5 TON</span>
            </li>
            <li class="d-flex align-items-center">
                     <span class="color-grey">
                     Royalties
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="Percentage of the NFT value that the author receives on each resale"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">0.5 TON</span>
            </li>
          </ul>
          <div class="d-flex align-items-center fw-medium mb-5">
            <span>You'll get</span>
            <span class="ms-auto">{{ priceTon }} TON</span>
          </div>
          <button class="btn btn-primary w-100"
                  th:v-on:click="'requestItemSale(\'' + ${addressHelper.toRaw(itemAddress)} + '\', priceTon)'"
                  type="button"
          >
            Put up for sale
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
