<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div aria-hidden="true" aria-labelledby="EnterPriceModalLabel" class="modal fade" id="SellModal" tabindex="-1"
     th:fragment="sell_modal(item)"
     th:v-scope="|SellModal({
      royaltyNumerator: '${item.royaltyNumerator}',
      royaltyDenominator: '${item.royaltyDenominator}',
      marketplaceFeeNumerator: '${item.marketplaceFeeNumerator}',
      marketplaceFeeDenominator: '${item.marketplaceFeeDenominator}',
      serviceFee: '${item.saleInitializationFee + item.transferFee + item.networkFee}',
      })|"
>
  <div class="modal-dialog modal-dialog-centered mobile-modal-bottom">
    <div class="modal-content border-0">
      <div class="modal-header border-0 mb-4">
        <h5 class="modal-title fs-24" id="SelectTypeModalLabel">Sell Item</h5>
        <button aria-label="Close" class="border-0 p-0 modal-close" data-bs-dismiss="modal" type="button"><i
          class="fa-solid fa-xmark fa-lg"
        ></i></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="mb-1" for="">Price</label>
          <div class="input-group mb-4">
            <input class="form-control" pattern="[0-9]+(\.[0-9]{1,9})?" placeholder="Enter Price" required
                   type="text" v-model.number="priceTon"
            >
            <span class="input-group-text" id="basic-addon1">TON</span>
          </div>
          <ul class="list-unstyled mb-4 pb-4 border-bottom">
            <li class="d-flex align-items-center mb-3">
                     <span class="color-grey">
                     Royalties
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="Amount that NFT item author will receive on a successfull sale"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">{{ fromNano(royalties) }} TON</span>
            </li>
            <li class="d-flex align-items-center mb-3">
                     <span class="color-grey">
                     Marketplace Fee
                     <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
                        title="Amount that Libermall will receive on a successful sale"
                     ><i class="fa-regular fa-circle-info ms-2"></i></a>
                     </span>
              <span class="ms-auto">{{ fromNano(marketplaceFee) }} TON</span>
            </li>
          </ul>
          <div class="d-flex align-items-center fw-medium mb-5">
            <span>Full Price</span>
            <a data-bs-placement="right" data-bs-toggle="tooltip" href="#!"
               title="Price for the end buyer, includes the amount you will receive, royalties and marketplace fees"
            ><i class="fa-regular fa-circle-info ms-2"></i></a>
            <span class="ms-auto">{{ fromNano(fullPrice) }} TON</span>
          </div>
          <div class="d-flex align-items-center fw-medium mb-5">
            <span>Service Fee</span>
            <span class="ms-auto">{{ fromNano(serviceFee) }} TON</span>
          </div>
          <button class="btn btn-primary w-100"
                  th:v-on:click="|requestItemSale('${addressHelper.toRaw(item.address)}', price)|"
                  type="button"
          >
            Put up for sale
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
