<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="../../static/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="../../static/bundle.css" rel="stylesheet">
  <script defer src="../../static/bundle.js"></script>
</head>
<body class="font-roboto text-white bg-dark-900 antialiased">
<footer class="pt-24 pb-12 px-4">
  <div class="container relative mx-auto">
    <div class="flex flex-wrap px-3 grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="mb-12 lg:mb-0 mr-auto">
        <div class="flex items-center mb-6">
          <img alt="Libermall - NFT Marketplace" class="align-middle"
               src="../../static/img/logo/apple-icon-57x57.png" th:src="@{/img/logo/apple-icon-57x57.png}"
          >
          <span class="hidden">Libermall</span>
        </div>
        <div class="mb-12">
          <h4 class="font-raleway mb-2 font-medium text-lg">Stay in the loop</h4>
          <p class="text-gray-500">
            Follow our social media pages to stay in the loop with our newest feature releases, NFT drops, and tips and
            tricks for navigating Libermall.
          </p>
        </div>
        <!--/*
        <div class="input-group mb-5">
               <span class="input-group-text" id="basic-addon1">
               <i class="fa-regular fa-envelope fs-18 color-grey"></i>
               </span>
          <input class="form-control" placeholder="Enter email address" type="text">
          <div class="input-group-text p-1">
            <button class="btn btn-primary" style="min-width: 100px;">Send</button>
          </div>
        </div>
        */-->
        <div class="flex">
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://t.me/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-telegram"></i>
          </a>
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://twitter.com/LiberMallNFT"
            target="_blank"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://github.com/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://www.instagram.com/libermallua"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i></a>
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://libermall.medium.com"
            target="_blank"
          >
            <i class="fa-brands fa-medium"></i>
          </a>
          <a
            class="block bg-gray-900 hover:bg-yellow hover:text-dark-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://vk.com/libermall"
            target="_blank"
          ><i class="fa-brands fa-vk"></i></a>
        </div>
      </div>
      <div class="py-4">
        <h4 aria-controls="FooterMenu-one" aria-expanded="false"
            class="flex items-center uppercase text-lg font-medium tracking-wider mb-0"
        >
          Marketplace
        </h4>
        <ul class="mt-6 text-gray-500">
          <li class="mb-2">
            <a class="hover:text-yellow" href="/explore">All NFTs</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-gray-500 pt-12 mt-12 ">
      <div class="flex flex-wrap">
        <div>
          <span class="me-auto">©2022 Libermall, Inc</span>
        </div>
        <!--/*
        <div class="col-sm-12 col-md-6 ms-auto text-end">
          <a class="me-3" href="#!">Privacy Police</a>
          <a href="#!">Terms of Service</a>
        </div>
        */-->
      </div>
    </div>
  </div>
</footer>
</body>
</html>
