<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="../../static/fontawesome/css/all.min.css" rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
  <link href="../../static/bundle/index.css" rel="stylesheet" th:href="@{/bundle/index.css}">
  <script defer src="../../static/bundle/index.js"></script>
</head>
<body class="font-roboto text-white bg-dark-900 antialiased">
<header
  @vue:mounted="connection.loadConnection()"
  class="sticky z-30 top-0 px-0 py-6 bg-dark-900/[.9] backdrop-blur-2xl sm:py-8"
  v-scope="{navbarHidden: true}"
>
  <div class="container relative px-3 mx-auto">
    <nav class="relative flex flex-wrap items-center justify-between p-0">
      <a class="flex item-center mr-12 items-center" href="/">
        <img alt="Libermall - NFT Marketplace" class="w-12 h-12 object-contain"
             src="../../static/img/logo/apple-icon-57x57.png" th:src="@{/img/logo/apple-icon-57x57.png}"
        >
        <span class="font-raleway font-bold text-3xl hidden 2xl:block ml-6">Libermall</span>
      </a>
      <button aria-expanded="false" aria-label="Toggle navigation"
              class="lg:hidden px-6 py-3 ml-4 order-2 border font-medium text-center text-white rounded-lg bg-dark-700 border-dark-700 hover:bg-gray-900 hover:border-gray-900"
              type="button"
              v-bind:class="navbarHidden ? '' : 'bg-yellow border-yellow hover:bg-yellow-hover hover:border-yellow-hover'"
              v-on:click="navbarHidden = !navbarHidden"
      >
        <i class="fa-regular text-xl" v-bind:class="navbarHidden ? 'fa-bars' : 'fa-close'"></i>
      </button>
      <div
        class="fixed top-0 left-0  w-3/4 h-screen basis-full items-center px-3 py-6 lg:flex lg:basis-auto lg:p-0 lg:w-auto lg:h-auto lg:static grow items-center"
        v-bind:class="navbarHidden ? 'hidden' : 'block'"
      >
        <form
          class="mx-0 lg:mx-12 mb-4 lg:mb-0 order-1 lg:order-2 block grow"
        >
          <div
            class="border border-solid grow border-border-soft rounded-lg bg-soft relative flex flex-wrap items-stretch w-full"
          >
            <input aria-describedby="basic-addon2" aria-label="Search"
                   class="block px-3 py-1.5 w-1/100 min-w-0 min-h-[52] relative flex-auto rounded-tr-none rounded-br-none  bg-transparent border-0"
                   placeholder="Search..."
                   type="text"
            >
            <div class="p-0 border-0 border-gray-900 rounded-lg flex items-center text-center">
              <button class="px-6 py-3" type="submit">
                <i class="fa-solid fa-magnifying-glass text-gray-500"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="relative order-3 lg:order-1" v-scope="{dropdownHidden: true}">
          <button aria-expanded="false"
                  class="text-gray-500 px-6 py-3 m-0 mt-4 lg:mt-0 border-0 rounded-lg uppercase font-medium text-sm tracking-widest flex flex-nowrap items-center
                  lg:text-dark-900 lg:bg-yellow lg:border-yellow
                  hover:lg:bg-yellow-hover hover:lg:border-yellow-hover"
                  type="button"
                  v-on:click="dropdownHidden = !dropdownHidden"
          >
            <i class="fa-regular fa-grid-2 mr-2"></i>
            Explore
          </button>
          <ul
            class="relative block min-w-[240px] rounded-none mt-4 lg:bg-gray-900 lg:rounded-lg lg:absolute transition ease-in-out delay-150 duration-300"
            v-bind:class="dropdownHidden ? 'lg:invisible lg:opacity-0' : 'lg:visible lg:opacity-100'"
          >
            <li>
              <a class="px-6 py-3 block hover:lg:bg-dark-700" href="/explore">
                <i class="fa-regular fa-hexagon-vertical-nft-slanted mr-4"></i> All NFTs
              </a>
            </li>
            <!--/*
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-hexagon-image me-3"></i>Solanas</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-paintbrush-fine me-3"></i>Art</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-rabbit me-3"></i>Collectibles</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-server me-3"></i>Domain Names</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-music me-3"></i>Music</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-camera me-3"></i>Photography</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-futbol me-3"></i>Sports</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-heart-circle-bolt me-3"></i>Trading Cards</a>
            </li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-money-bills-simple me-3"></i>Utility</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-vr-cardboard me-3"></i>Virtual Worlds</a></li>
            */-->
          </ul>
        </div>
        <!--/*
        <ul class="navbar-nav d-flex flex-row py-4 py-lg-0 ms-0 ms-lg-auto pe-5 order-2 order-lg-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create</a>
          </li>
        </ul>
        */-->
        <div class="relative order-2 lg:order-3" v-if="connection.isConnected" v-scope="{dropdownHidden: true}">
          <button aria-expanded="false" type="button"
                  v-on:click="dropdownHidden = !dropdownHidden"
          >
            <img alt="" class="rounded-full inline align-middle" height="42" src="../../static/img/user-1.svg"
                 th:src="@{/img/user-1.svg}"
                 width="42"
            >
          </button>
          <ul
            class="relative block lg:right-full min-w-[240px] rounded-none mt-4 lg:bg-gray-900 lg:rounded-lg lg:absolute transition ease-in-out delay-150 duration-300"
            v-bind:class="dropdownHidden ? 'lg:invisible lg:opacity-0' : 'lg:visible lg:opacity-100'"
          >
            <li>
              <a class="px-6 py-3 block hover:lg:bg-dark-700 border-b border-solid border-dark-700"
                 v-bind:href="'/profile/' + connection.walletAddress"
              >
                <i class="fa-regular fa-user mr-4"></i> Profile
              </a>
            </li>
            <li>
              <a class="px-6 py-3 block hover:lg:bg-dark-700" v-on:click="connection.disconnect()">
                <i class="fa-regular fa-link-simple-slash mr-4"></i> Disconnect
              </a>
            </li>
          </ul>
        </div>
        <button
          class="flex flex-wrap items-center order-2 px-6 py-3 sticky bottom-0 left-0 w-full uppercase lg:w-auto hover:bg-white/10"
          type="button"
          v-else
          v-on:click="connection.isModalOpen = true"
        >
          <i class="fa-regular fa-arrow-right-to-arc mr-4"></i> Connect
        </button>
      </div>
    </nav>
  </div>
</header>
</body>
</html>
