<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="partners section bg-grey" th:fragment="partners">
  <div class="partners__container">
    <div class="container-fluid">
      <div class="row overflow-auto">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-1.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-2.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-3.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-4.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-5.svg}">
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center">
          <img alt="" class="img-fluid m-2" loading="lazy" th:src="@{/img/partners/part-6.svg}">
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
