<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover"
    name="viewport"
  >
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="telephone=no" name="format-detection">
  <meta content="translate" name="google">
  <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/logo/apple-icon-57x57.png}">
  <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/logo/apple-icon-60x60.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/logo/apple-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/logo/apple-icon-76x76.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/logo/apple-icon-114x114.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/logo/apple-icon-120x120.png}">
  <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/logo/apple-icon-144x144.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/logo/apple-icon-152x152.png}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/logo/apple-icon-180x180.png}">
  <link rel="icon" sizes="192x192" th:href="@{/img/logo/android-icon-192x192.png}" type="image/png">
  <link rel="icon" sizes="32x32" th:href="@{/img/logo/favicon-32x32.png}" type="image/png">
  <link rel="icon" sizes="96x96" th:href="@{/img/logo/favicon-96x96.png}" type="image/png">
  <link rel="icon" sizes="16x16" th:href="@{/img/logo/favicon-16x16.png}" type="image/png">
  <link href="/manifest.json" rel="manifest">
  <meta content="#ffffff" name="msapplication-TileColor">
  <meta content="./assets/img/logo/apple-icon-114x114.png" name="msapplication-TileImage">
  <meta content="#050b1c" name="theme-color">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
        name="viewport"
  >
  <meta content="Libermall" property="og:site_name"/>
  <meta content="Libermall" property="og:title"/>
  <meta content="The easiest way to store, send, and receive Toncoin on The Open Network" property="og:description"/>
  <meta content="/img/libermall-preview.png" property="og:image"/>
  <meta content="https://Libermall.com" property="og:url"/>
  <meta content="Libermall" name="twitter:title">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="/wallet-preview.png" name="twitter:image"/>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}">
  <script async crossorigin="anonymous" src="../static/js/fontawesome-pro.min.js"
          th:src="@{/js/fontawesome-pro.min.js}"
  ></script>
  <title>Libermall - an NFT marketplace</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<section class="nft-hero">
  <picture>
    <img alt="Collection" class="nft-hero__image" height="275" loading="lazy" src="../static/img/nft-hero.png"
         th:alt="${collection.name}"
         th:src="${collection.coverImage}"
    >
  </picture>
</section>
<main class="main-page">
  <section class="nfr-collection section pt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-xxl-3 mb-4 mb-lg-0">
          <!-- Start Collection Info -->
          <div class="card card-blur p-0 mt--100 mb-4">
            <div class="card__share d-flex position-absolute" style="top: 8px; right: 8px">
              <button class="btn btn-cube" type="button"><i class="fa-regular fa-share-nodes"></i></button>
              <div class="dropdown">
                <button aria-expanded="false" class="btn btn-cube" data-bs-toggle="dropdown" id="dropdownMenuButton1"
                        type="button"
                >
                  <i class="fa-regular fa-ellipsis-stroke"></i>
                </button>
                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                  <li><a class="dropdown-item border-0" href="#">Report page</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body p-4 p-lg-2 p-xl-3 p-xxl-4">
              <div class="d-flex flex-column flex-md-row flex-lg-column align-items-center mb-5">
                <div class="collection__image mb-4 mb-md-0 mb-lg-4 ms-auto ms-md-0 ms-lg-auto me-auto">
                  <img alt="" class="img-fluid rounded-circle" th:src="${collection.image}">
                </div>
                <div class="d-flex mx-0 mx-lg-auto">
                  <a class="btn btn-sm btn-outline-primary" href="#!">Subscribe</a>
                </div>
              </div>
              <h1 class="collection__name fs-24 mb-4">
                <span th:text="${collection.name}">...</span>
                <i class="fa-solid fa-circle-check fs-22 color-yellow ms-2"></i>
              </h1>
              <div class="collection__desc color-grey mb-4">
                <p th:text="${collection.description}"></p>
                <!--/*
                <a class="collection__link text-white" href="#!" target="__blank">
                  <i class="fa-regular fa-link-simple color-yellow me-2"></i>
                  boredapeyachtclub.com
                </a>
                */-->
              </div>
              <!--/*
              <div class="libermall__soclinks">
                <a class="libermall__soclinks-item ms-0" href="#!"><i class="fa-brands fa-telegram"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-discord"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-instagram"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-reddit-alien"></i></a>
              </div>
              */-->
            </div>
            <div class="card-footer text-center border-top px-5 py-3">
              Created by <span class="color-yellow" th:text="${addressHelper.toShortFriendly(collection.owner)}"
            >...</span>
              <i class="fa-solid fa-circle-check color-yellow fs-14 ms-1"></i>
            </div>
          </div>
          <!-- End Collection Info -->
          <!-- Start Collection Filters -->
          <!--/*
          <?php
                  require "_collection-filters.php";
                  ?>
          */-->
          <!-- End Collection Filters -->
        </div>
        <div class="col-lg-8 col-xl-8 col-xxl-9">
          <!-- Start Collection Stat -->
          <div class="card card-blur mb-4 overflow-auto" id="mouseScroll">
            <div class="d-flex align-items-center justify-content-between">
              <div class="card-blur__item p-4 border-end text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">Items</h5>
                <p class="m-0 text-uppercase fw-medium" style="letter-spacing: 1px;"
                   th:text="${collection.numberOfItems}"
                >...</p>
              </div>
              <div class="card-blur__item p-4 border-end text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">Owners</h5>
                <p class="m-0 text-uppercase fw-medium" style="letter-spacing: 1px;" th:text="${itemOwnerNumber}">
                  ...</p>
              </div>
              <div class="card-blur__item p-4 border-end text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">Blockchain</h5>
                <p class="m-0 text-uppercase fw-medium" style="letter-spacing: 1px;">TON</p>
              </div>
              <div class="card-blur__item p-4 text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">address</h5>
                <p class="m-0 fw-medium" style="letter-spacing: 1px;"
                   th:text="${addressHelper.toShortFriendly(collection.address)}"
                ></p>
              </div>
            </div>
          </div>
          <!-- End Collection Stat -->
          <!-- Start Collection Tabs -->
          <div class="overflow-auto mobile__nav-bottom mb-2 px-2" id="mouseScroll">
            <ul class="nav collections__nav list-unstyled d-flex flex-nowrap align-items-center" id="myTab"
                role="tablist"
            >
              <li class="collections__nav-item">
                <button aria-controls="Owned" aria-selected="true"
                        class="collections__nav-link d-flex align-items-center text-nowrap active"
                        data-bs-target="#Owned" data-bs-toggle="tab" id="Owned-tab" role="tab"
                        type="button"
                >Items
                </button>
              </li>
              <!--/*
              <li class="collections__nav-item">
                <button aria-controls="Activity" aria-selected="false"
                        class="collections__nav-link d-flex align-items-center text-nowrap" data-bs-target="#Activity"
                        data-bs-toggle="tab" id="Activity-tab"
                        role="tab" type="button"
                >Activity
                </button>
              </li>
              <button aria-controls="collapseFilters"
                      aria-expanded="false"
                      class="btn btn-sm btn-secondary ms-auto d-flex align-items-center btn-filter"
                      data-bs-toggle="collapse" href="#collapseFilters"
                      role="button"
              >
                <i class="fa-regular fa-filter-list me-2"></i> Sort
              </button>
              */-->
            </ul>
          </div>
          <!--/*
          <div class="collections__filters collapse modified-collapse" id="collapseFilters">
            <div class="d-block d-sm-flex flex-wrap align-items-center">
              <div class="m-3">
                <label class="color-grey mb-2">Category:</label>
                <select aria-label="Select Category" class="form-select border">
                  <option selected>All</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="m-3">
                <label class="color-grey mb-2">Properties:</label>
                <select aria-label="Select Category" class="form-select border">
                  <option selected>All 354</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="m-3">
                <label class="color-grey mb-2">Sale type:</label>
                <select aria-label="Select Category" class="form-select border">
                  <option selected>All</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="m-3">
                <label class="color-grey mb-2">Price range:</label>
                <select aria-label="Select Category" class="form-select border">
                  <option selected>ETH 5 - 15</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="m-3 ms-xxl-auto">
                <label class="color-grey mb-2">Sort:</label>
                <select aria-label="Select Category" class="form-select border">
                  <option selected>Recently listed</option>
                  <option value="1">Price: low to high</option>
                  <option value="2">Price: high to low</option>
                  <option value="3">Auction ending soon</option>
                </select>
              </div>
            </div>
          </div>
          */-->
          <div class="tab-content py-4" id="myTabContent">
            <div aria-labelledby="Owned-tab" class="tab-pane fade show active" id="Owned" role="tabpanel">
              <!--              TODO -->
              <div class="row">
                <div th:each="item: ${items}"
                     th:insert="fragments/item_card :: item_card(item)"
                     th:remove="tag"
                ></div>
              </div>
              <button class="btn btn-outline-secondary mt-3 w-100" type="button">LOAD MORE</button>
            </div>
            <!--/*
            <div aria-labelledby="Activity-tab" class="tab-pane fade" id="Activity" role="tabpanel">
              <?php
                        require "_activity-list.php";
                        ?>
            </div>
            */-->
          </div>
          <!-- End Collection Tabs -->
        </div>
      </div>
    </div>
  </section>
</main>
<section th:replace="~{fragments/partners :: partners}"></section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script defer th:src="@{/js/app.js}"></script>

<div id="floatingmes">Shift + Mouse scroll 🤓</div>
</body>
</html>
