<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head_base(_)">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="main-page">
  <section class="collections section">
    <div class="container-fluid">
      <h1 class="section__title">
        Explore collections
      </h1>
      <div class="overflow-auto mobile__nav-bottom mb-5" id="mouseScroll">
        <ul class="collections__nav list-unstyled d-flex flex-nowrap">
          <li class="collections__nav-item">
            <a class="collections__nav-link active text-nowrap" href="#!">All</a>
          </li>
          <!--/*
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Top</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Art</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Collectibles</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Domain Names</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Music</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Photography</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Sports</a>
          </li>
          <li class="collections__nav-item"><a class="collections__nav-link text-nowrap" href="#!">Trading Cards</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Utility</a>
          </li>
          <li class="collections__nav-item">
            <a class="collections__nav-link text-nowrap" href="#!">Virtual Worlds</a>
          </li>
          */-->
        </ul>
      </div>
      <div class="row collections__list">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" th:each="collection: ${collections}">
          <a class="card card-gradient top-effect" href="/collection/"
             th:href="'/collection/' + ${addressHelper.toRaw(collection.address)}"
             th:title="${collection.name}"
             title="Collection"
          >
            <picture>
              <img alt="Collection Background" class="image-300x300" height="340" loading="lazy"
                   src="" th:alt="${collection.name}" th:src="${collection.coverImage}" width="1920"
              >
            </picture>
            <div class="card-body">
              <div class="card-avatar">
                <img alt="Collection" class="img-fluid" height="" loading="lazy"
                     src="../static/img/author/author-12.jpg"
                     th:alt="${collection.name}"
                     th:src="${collection.image}"
                     width="120"
                >
              </div>
              <div class="d-flex flex-wrap align-items-center">
                <div class="me-auto mt-3">
                  <h3 class="fs-20 d-flex align-items-center">
                    <span class="collections__card-name" th:text="${collection.name}">Collection</span>
                    <!--/*
                    <i class="fa-solid fa-circle-check fs-16 color-yellow ms-2"></i>
                    */-->
                  </h3>
                  <!--/*
                  <p class="mb-0 color-grey">
                    6.7K owners
                  </p>
                  */-->
                </div>
                <div class="d-flex align-items-center mt-3">
                  <!--/*
                  <div class="pe-3">
                    <p class="fw-medium text-white mb-2">167.8K eTH</p>
                    <p class="m-0 color-grey">Total volume</p>
                  </div>
                  <div>
                    <p class="fw-medium text-white mb-2">16.48 eTH</p>
                    <p class="m-0 color-grey">floor</p>
                  </div>
                  */-->
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<!--/*<section th:replace="fragments/partners :: partners"></section>*/-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="modals/connect :: #ConnectModal"></div>

<script defer th:src="@{/bundle/index.js}"></script>
</body>
</html>
