<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head_base(_)">
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
  <link href="../static/bundle/index.css" rel="stylesheet" th:href="@{/bundle/index.css}">
  <script defer init src="https://unpkg.com/petite-vue"></script>
</head>
<body class="font-roboto text-white bg-dark-900 antialiased">
<header th:replace="fragments/header :: header"></header>
<main class="mx-3">
  <!--/* Start of Hero section */-->
  <section class="px-0 py-12 relative">
    <div class="container relative overflow-hidden rounded-3xl mx-auto"
         v-scope="{slide: 0}"
    >
      <div class="absolute bottom-0 left-0 right-0 mb-4 flex justify-center p-0">
        <button aria-current="true" aria-label="Slide 1"
                class="z-10 w-3 h-3 m-1 rounded-full flex-initial"
                type="button"
                v-bind:class="slide == 0 ? 'bg-yellow' : 'bg-gray-500'"
                v-on:click="slide = 0"
        ></button>
        <button aria-label="Slide 2"
                class="z-10 w-3 h-3 m-1 rounded-full flex-initial"
                type="button"
                v-bind:class="slide == 1 ? 'bg-yellow' : 'bg-gray-500'"
                v-on:click="slide = 1"
        ></button>
      </div>
      <div class="relative overflow-hidden">
        <div class="relative px-6 pt-64 pb-12" v-bind:class="slide == 0 ? 'block' : 'hidden'">
          <div class="flex flex-wrap items-center lg:px-20 lg:py-16">
            <div class="w-full text-center lg:text-start">
              <h1 class="text-5xl font-bold font-raleway mb-6">
                Witness the <span class="block">birth of Libermall</span>
              </h1>
              <div class="text-lg mb-12">
                A new, modern and slick NFT marketplace is<br>
                emerging on The Open Network.
              </div>
            </div>
          </div>
          <picture>
            <source srcset="../static/img/hero-image-2.webp" th:srcset="@{/img/hero-image-2.webp}" type="image/webp">
            <source srcset="../static/img/hero-image-2.jpg" th:srcset="@{/img/hero-image-2.jpg}" type="image/jpeg">
            <img alt="Libermall NFT Marketplace"
                 class="absolute -z-10 top-0 right-0 w-full h-full object-cover opacity-50"
                 src="../static/img/hero-image-2.jpg"
                 th:src="@{/img/hero-image-2.jpg}"
            >
          </picture>
        </div>
        <div class="relative px-6 pt-64 pb-12" v-bind:class="slide == 1 ? 'block' : 'hidden'">
          <div class="flex flex-wrap items-center lg:px-20 lg:py-16">
            <div class="w-full text-center lg:text-start">
              <h2 class="text-5xl font-bold font-raleway mb-6">
                Available in <span class="block">Early Access</span>
              </h2>
              <div class="text-lg mb-12">
                This is a preview of a small subset of future features<br>
                running in the testing network.
              </div>
            </div>
          </div>
          <picture>
            <source srcset="../static/img/hero-image.webp" th:srcset="@{/img/hero-image.webp}" type="image/webp">
            <source srcset="../static/img/hero-image.jpg" th:srcset="@{/img/hero-image.jpg}" type="image/jpeg">
            <img alt="Libermall NFT Marketplace"
                 class="absolute -z-10 top-0 right-0 w-full h-full object-cover opacity-50"
                 src="../static/img/hero-image.jpg"
                 th:src="@{/img/hero-image.jpg}"
            >
          </picture>
        </div>
      </div>
      <!--/*
      <button class="carousel-control-prev  d-none d-lg-block" data-bs-slide="prev"
              data-bs-target="#carouselHeroIndicators"
              type="button"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="carousel-control-next  d-none d-lg-block" data-bs-slide="next"
              data-bs-target="#carouselHeroIndicators"
              type="button"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      */-->
    </div>
  </section>
  <!--/* End of Hero section */-->
  <!--/* Start of Discover section */-->
  <section class="relative px-0 py-12 pt-28">
    <div class="relative container text-center mx-auto">
      <h2 class="text-5xl font-raleway font-bold mb-4">
        Discover, Collect and sell <span class="text-yellow">extraordinary NFTs</span>
      </h2>
      <p class="mb-12 text-gray-500 text-2xl font-light">
        Libermall is an emerging NFT marketplace
      </p>
      <div class="flex flex-wrap items-center justify-center">
        <a class="text-dark-900 bg-yellow px-8 py-4 m-0 border-0 rounded-lg uppercase font-medium text-sm flex flex-nowrap items-center tracking-widest
                  hover:bg-yellow-hover hover:border-yellow-hover"
           href="/explore"
        >
          Explore
        </a>
        <!--/*
        <a class="btn btn-outline-primary m-3" href="#!">
          + Create
        </a>
        */-->
      </div>
    </div>
  </section>
  <!--/* End of Discover section */-->
  <!--/* Start of Libermall section */-->
  <section class="relative px-0 py-12">
    <div
      class="-z-20 relative container px-10 py-10 mx-auto overflow-hidden rounded-lg bg-gradient-to-r from-yellow-gradient-start to-yellow-gradient-end"
    >
      <h2 class="text-dark-900 text-3xl font-raleway mb-4">
        Early Access <span class="block md:inline">on Libermall</span>
      </h2>
      <div class="flex items-center mt-10">
        <a
          class="bg-dark-900 hover:bg-gray-900 border-dark-900 hover:border-gray-900 text-sm font-medium px-8 py-4 uppercase border rounded-lg"
          href="/explore"
        >Explore</a>
        <div class="hidden md:flex ml-12">
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://t.me/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-telegram"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://twitter.com/LiberMallNFT"
            target="_blank"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://github.com/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://www.instagram.com/libermallua"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i></a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://libermall.medium.com"
            target="_blank"
          >
            <i class="fa-brands fa-medium"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://vk.com/libermall"
            target="_blank"
          ><i class="fa-brands fa-vk"></i></a>
        </div>
      </div>
      <span
        class="block absolute -z-10 top-0 w-full h-full right-[-70%] xl:right-[-40%] 2xl:right-[-30%] bg-left-top bg-cover bg-[url(../img/openlake-image.png)]"
      ></span>
    </div>
  </section>
  <!--/* End of Libermall section */-->
  <!--/* Start of Notable section */-->
  <!--/*
  <section class="notable section" id="notable">
    <div class="notable__container container-fluid">
      <div class="notable__head">
        <h2 class="section__title mb-5">
          Notable <span class="color-yellow">drops</span>
        </h2>
      </div>
      <div class="notable-slider pt-3">
        <a href="/collection.php" class="card card-gradient top-effect" title="MetaPack">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-1.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-1.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-1.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="MetaPack">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">MetaPack</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
        <a href="/collection.php" class="card card-gradient top-effect" title="Ragnarok">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-2.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-2.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-2.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="Ragnarok">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">Ragnarok</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
        <a href="/collection.php" class="card card-gradient top-effect" title="Sneaker Heads">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-3.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-3.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-3.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="Sneaker Heads">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">Sneaker Heads</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
        <a href="#!" class="card card-gradient top-effect" title="Relationship">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-4.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-4.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-4.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="Ragnarok">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">Relationship</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
        <a href="/collection.php" class="card card-gradient top-effect" title="The Foundation">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-5.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-5.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-5.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="Ragnarok">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">The Foundation</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
        <a href="/collection.php" class="card card-gradient top-effect" title="Sneaker Heads">
          <div class="card__bage color-yellow text-uppercase">
            <i class="fa-solid fa-fire-flame-curved me-1"></i>
            Live
          </div>
          <picture>
            <source srcset="./assets/img/nft/nft-6.webp" type="image/webp">
            <source srcset="./assets/img/nft/nft-6.jpg" type="image/jpeg">
            <img src="./assets/img/nft/nft-6.jpg" class="rounded card-img" loading="lazy" width="300" height="390" alt="Sneaker Heads">
          </picture>
          <div class="card-body">
            <h3 class="fs-20 my-3">Sneaker Heads</h3>
            <p class="d-flex align-items-center mb-0 color-grey">
              <span class="icon-ton me-2"></span>
              floor price: 0.5
            </p>
          </div>
        </a>
      </div>
  </section>
  */-->
  <!--/* End of Notable section */-->
  <!--/* Start of Collections section */-->
  <section class="collections section">
    <div class="collection__container container-fluid">
      <div class="d-block d-sm-flex align-items-center mb-56">
        <h2 class="section__title mb-0">Top <span class="color-yellow">collections</span></h2>
        <div class="dropdown mt-4 mt-sm-0 ms-0 ms-sm-auto">
          <button aria-expanded="false" class="btn btn-secondary"
                  id="dropdownMenuLink" type="button"
          >
            All Time
          </button>
        </div>
        <!--/*
        <div class="dropdown mt-4 mt-sm-0 ms-0 ms-sm-auto">
          <a aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="dropdownMenuLink" role="button"
          >
            Last 24 hours
          </a>
          <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu animate slideIn mt-5">
            <li><a class="dropdown-item" href="#">1 Day</a></li>
            <li><a class="dropdown-item" href="#">3 Days</a></li>
            <li><a class="dropdown-item" href="#">7 days</a></li>
          </ul>
        </div>
        */-->
      </div>
      <div class="row pt-3">
        <div class="col-sm-6 col-xxl-4" th:each="collection: ${collections}">
          <a class="d-block" th:href="|/collection/${{collection.address}}|"
             th:title="${collection.name}"
          >
            <div class="card d-flex flex-lg-row align-items-center p-3 p-xl-4 rounded-20 mb-4">
              <div class="collection__picbox position-relative me-4 mb-4 mb-lg-0">
                <picture>
                  <img alt="Collection Image" class="image-80x80 rounded-circle" height="80"
                       loading="lazy" src="../static/img/user-1.svg" th:alt="${collection.name}"
                       th:src="${collection.image}"
                       width="80"
                  >
                </picture>
                <!--/*
                <i class="fa-solid fa-circle-check fs-22 color-yellow position-absolute bottom-0" style="right: -4%;"
                ></i>
                */-->
              </div>
              <div class="collection__body mb-3 mb-lg-0">
                <h4 class="fs-20 mb-3 text-truncate" style="max-width: 224px" th:text="${collection.name}"></h4>
                <!--/*
                <p class="mb-0 color-grey text-center text-lg-start">
                  Floor: <span class="ms-1 text-uppercase">3,02 TON</span>
                </p>
                */-->
              </div>
              <div class="collection__info d-flex d-lg-block text-center text-lg-end ms-0 ms-lg-auto">
                <!--/*
                <div class="fw-medium text-uppercase text-white mb-3 me-3 me-lg-0">3.8k TON</div>
                <div class="fw-medium color-grey">
                  $2.68M
                  <span class="color-green ms-2">+8.84%</span>
                </div>
                */-->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mt-5 text-center">
        <a class="btn btn-primary" href="/explore">Explore All</a>
      </div>
    </div>
  </section>
  <!--/* End of Collections section */-->
  <!--/* Start of Create section */-->
  <!--/*
  <section class="create section" id="create">
    <div class="create__container container-fluid position-relative">
      <h2 class="section__title">
        Create and sell <span class="color-yellow">your NFTs</span>
      </h2>
      <div class="d-flex flex-nowrap overflow-auto py-5" id="overflow-auto">
        <div class="create-card d-flex">
          <div class="create-card__icon d-none d-md-block">
            <img alt="" class="create-card__img" height="100px" th:src="@{/img/create-card-1.png}" width="100px">
          </div>
          <div class="create-card__body ms-4">
            <div class="create-card__num color-grey mb-3">
              0<span class="color-yellow">1</span>
            </div>
            <h4 class="fs-24 mb-4">
              Set up your wallet
            </h4>
            <p class="fs-18 color-grey mb-0">
              Once you’ve set up your wallet of choice, connect it to Libermall by clicking the wallet icon in the top
              right corner. Learn about the wallets we support
            </p>
          </div>
        </div>
        <div class="create-card d-flex">
          <div class="create-card__icon d-none d-md-block">
            <img alt="" class="create-card__img" height="100px" th:src="@{/img/create-card-2.png}" width="100px">
          </div>
          <div class="create-card__body ms-4">
            <div class="create-card__num color-grey mb-3">
              0<span class="color-yellow">2</span>
            </div>
            <h4 class="fs-24 mb-4">
              Create your collection
            </h4>
            <p class="fs-18 color-grey mb-0">
              Once you’ve set up your wallet of choice, connect it to Libermall by clicking the wallet icon in the top
              right corner. Learn about the wallets we support
            </p>
          </div>
        </div>
        <div class="create-card d-flex">
          <div class="create-card__icon d-none d-md-block">
            <img alt="" class="create-card__img" height="90px" th:src="@{/img/create-card-3.png}" width="90px">
          </div>
          <div class="create-card__body ms-4">
            <div class="create-card__num color-grey mb-3">
              0<span class="color-yellow">3</span>
            </div>
            <h4 class="fs-24 mb-4">
              Add your NFTs
            </h4>
            <p class="fs-18 color-grey mb-0">
              Once you’ve set up your wallet of choice, connect it to Libermall by clicking the wallet icon in the top
              right corner. Learn about the wallets we support
            </p>
          </div>
        </div>
        <div class="create-card d-flex">
          <div class="create-card__icon d-none d-md-block">
            <img alt="" class="create-card__img" height="90px" th:src="@{/img/create-card-4.png}" width="90px">
          </div>
          <div class="create-card__body ms-4">
            <div class="create-card__num color-grey mb-3">
              0<span class="color-yellow">4</span>
            </div>
            <h4 class="fs-24 mb-4">
              List them for sale
            </h4>
            <p class="fs-18 color-grey mb-0">
              Once you’ve set up your wallet of choice, connect it to Libermall by clicking the wallet icon in the top
              right corner. Learn about the wallets we support
            </p>
          </div>
        </div>
      </div>
      <div class="create-border"></div>
    </div>
  </section>
  */-->
  <!--/* End of Collections section */-->
  <!--/* Start of Category section */-->
  <!--/*
  <section class="category section pt-150" id="category">
    <div class="category__container container-fluid">
      <div class="category__head">
        <h2 class="section__title">
          Browse <span class="color-yellow">by category</span>
        </h2>
      </div>
      <div class="category-slider pt-3">
        <a class="card top-effect" href="/single-collection.php">
          <picture>
            <source th:srcset="@{/img/category/cat-1.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-1.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-1.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Art</h3>
          </div>
        </a>
        <a class="card top-effect" href="/single-collection.php">
          <picture>
            <source th:srcset="@{/img/category/cat-2.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-2.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-2.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Sports</h3>
          </div>
        </a>
        <a class="card top-effect" href="/single-collection.php">
          <picture>
            <source th:srcset="@{/img/category/cat-3.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-3.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-3.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Collectibles</h3>
          </div>
        </a>
        <a class="card top-effect" href="/single-collection.php">
          <picture>
            <source th:srcset="@{/img/category/cat-4.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-4.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-4.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Photography</h3>
          </div>
        </a>
        <a class="d-block card top-effect" href="#!">
          <picture>
            <source th:srcset="@{/img/category/cat-5.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-5.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-5.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Domain Name</h3>
          </div>
        </a>
        <a class="card top-effect" href="/single-collection.php">
          <picture>
            <source th:srcset="@{/img/category/cat-6.webp}" type="image/webp">
            <source th:srcset="@{/img/category/cat-6.jpg}" type="image/jpeg">
            <img alt="Ragnarok" class="rounded image-300x300" height="275" loading="lazy"
                 th:src="@{/img/category/cat-6.jpg}" width="340"
            >
          </picture>
          <div class="card-body text-center">
            <h3 class="text-uppercase fs-18 mt-3 mb-0" style="letter-spacing: 1px;">Music</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  */-->
</main>
<!--/*<section th:replace="fragments/partners :: partners"></section>*/-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="modals/connect :: connect_modal"></div>

<script defer th:src="@{/bundle/index.js}"></script>
</body>
</html>
