<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head_base(_)">
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  >
  <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
  <link href="../static/bundle/index.css" rel="stylesheet" th:href="@{/bundle/index.css}">
  <script defer init src="https://unpkg.com/petite-vue" th:if="false"></script>
</head>
<body class="font-roboto text-white bg-dark-900 antialiased">
<header th:replace="fragments/header :: header"></header>
<main class="mx-3">
  <!--/* Start of Hero section */-->
  <section class="px-0 py-12">
    <div class="container relative overflow-hidden rounded-3xl mx-auto"
         v-scope="{slide: 0}"
    >
      <div class="absolute bottom-0 left-0 right-0 mb-4 flex justify-center p-0">
        <button aria-current="true" aria-label="Slide 1"
                class="z-10 w-3 h-3 m-1 rounded-full flex-initial"
                type="button"
                v-bind:class="slide == 0 ? 'bg-yellow' : 'bg-gray-500'"
                v-on:click="slide = 0"
        ></button>
        <button aria-label="Slide 2"
                class="z-10 w-3 h-3 m-1 rounded-full flex-initial"
                type="button"
                v-bind:class="slide == 1 ? 'bg-yellow' : 'bg-gray-500'"
                v-on:click="slide = 1"
        ></button>
      </div>
      <div class="relative overflow-hidden">
        <div class="relative px-6 pt-48 pb-12" v-bind:class="slide == 0 ? 'block' : 'hidden'">
          <div class="flex flex-wrap items-center lg:px-20 lg:py-16">
            <div class="w-full text-center lg:text-start">
              <h1 class="text-5xl font-bold font-raleway mb-6">
                Witness the <span class="block">birth of Libermall</span>
              </h1>
              <div class="text-lg mb-12">
                A new, modern and slick NFT marketplace is<br>
                emerging on The Open Network.
              </div>
            </div>
          </div>
          <picture>
            <source srcset="../static/img/hero-image-2.webp" th:srcset="@{/img/hero-image-2.webp}" type="image/webp">
            <source srcset="../static/img/hero-image-2.jpg" th:srcset="@{/img/hero-image-2.jpg}" type="image/jpeg">
            <img alt="Libermall NFT Marketplace"
                 class="absolute -z-10 top-0 right-0 w-full h-full object-cover opacity-50"
                 src="../static/img/hero-image-2.jpg"
                 th:src="@{/img/hero-image-2.jpg}"
            >
          </picture>
        </div>
        <div class="relative px-6 pt-48 pb-12" v-bind:class="slide == 1 ? 'block' : 'hidden'">
          <div class="flex flex-wrap items-center lg:px-20 lg:py-16">
            <div class="w-full text-center lg:text-start">
              <h2 class="text-5xl font-bold font-raleway mb-6">
                Available in <span class="block">Early Access</span>
              </h2>
              <div class="text-lg mb-12">
                This is a preview of a small subset of future features<br>
                running in the testing network.
              </div>
            </div>
          </div>
          <picture>
            <source srcset="../static/img/hero-image.webp" th:srcset="@{/img/hero-image.webp}" type="image/webp">
            <source srcset="../static/img/hero-image.jpg" th:srcset="@{/img/hero-image.jpg}" type="image/jpeg">
            <img alt="Libermall NFT Marketplace"
                 class="absolute -z-10 top-0 right-0 w-full h-full object-cover opacity-50"
                 src="../static/img/hero-image.jpg"
                 th:src="@{/img/hero-image.jpg}"
            >
          </picture>
        </div>
      </div>
      <!--/*
      <button class="carousel-control-prev  d-none d-lg-block" data-bs-slide="prev"
              data-bs-target="#carouselHeroIndicators"
              type="button"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="carousel-control-next  d-none d-lg-block" data-bs-slide="next"
              data-bs-target="#carouselHeroIndicators"
              type="button"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      */-->
    </div>
  </section>
  <!--/* End of Hero section */-->
  <!--/* Start of Discover section */-->
  <section class="px-0 py-12 pt-28">
    <div class="relative container text-center mx-auto">
      <h2 class="text-5xl font-raleway font-bold mb-4">
        Discover, Collect and sell <span class="text-yellow">extraordinary NFTs</span>
      </h2>
      <p class="mb-12 text-gray-500 text-2xl font-light">
        Libermall is an emerging NFT marketplace
      </p>
      <div class="flex flex-wrap items-center justify-center">
        <a class="text-dark-900 bg-yellow px-8 py-4 m-0 border-0 rounded-lg uppercase font-medium text-sm flex flex-nowrap items-center tracking-widest
                  hover:bg-yellow-hover hover:border-yellow-hover"
           href="/explore"
        >
          Explore
        </a>
        <!--/*
        <a class="btn btn-outline-primary m-3" href="#!">
          + Create
        </a>
        */-->
      </div>
    </div>
  </section>
  <!--/* End of Discover section */-->
  <!--/* Start of Libermall section */-->
  <section class="px-0 py-12 relative">
    <div
      class="relative container px-10 py-10 mx-auto overflow-hidden rounded-lg bg-gradient-to-r from-yellow-gradient-start to-yellow-gradient-end"
    >
      <span
        class="block absolute top-0 w-full h-full right-[-70%] md:right-[-80%] xl:right-[-45%] 2xl:right-[-40%] bg-left-top bg-cover bg-[url(../img/openlake-image.png)]"
      ></span>
      <h2 class="text-dark-900 text-3xl font-raleway mb-4">
        Early Access <span class="block md:inline">on Libermall</span>
      </h2>
      <div class="flex items-center mt-10">
        <a
          class="bg-dark-900 hover:bg-gray-900 border-dark-900 hover:border-gray-900 text-sm font-medium px-8 py-4 uppercase border rounded-lg"
          href="/explore"
        >Explore</a>
        <div class="hidden md:flex ml-12">
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://t.me/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-telegram"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://twitter.com/LiberMallNFT"
            target="_blank"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://github.com/LiberMall"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://www.instagram.com/libermallua"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i></a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://libermall.medium.com"
            target="_blank"
          >
            <i class="fa-brands fa-medium"></i>
          </a>
          <a
            class="block text-dark-900 hover:text-white hover:bg-gray-900 text-lg flex w-12 h-12 mx-1.5 my-0 border border-solid border-gray-900 rounded-lg items-center justify-center"
            href="https://vk.com/libermall"
            target="_blank"
          ><i class="fa-brands fa-vk"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!--/* End of Libermall section */-->
  <!--/* Start of Collections section */-->
  <section class="px-0 py-12">
    <div class="container relative mx-auto">
      <div class="block md:flex mb-14">
        <h2 class="text-4xl font-bold font-raleway mb-0">Top <span class="text-yellow">collections</span></h2>
        <div class="mt-6 md:mt-0 ml-auto">
          <button aria-expanded="false"
                  class="flex flex-wrap items-center px-6 py-3 uppercase rounded-lg bg-dark-700 hover:bg-gray-900 border-dark-700 hover:border-gray-900"
                  type="button"
          >
            All Time
          </button>
        </div>
      </div>
      <div class="pt-4 flex flex-wrap grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <a class="flex flex-col lg:flex-row gap-4 rounded-3xl p-4 mb-6 items-center bg-dark-700 hover:bg-gray-900"
           href="/"
           th:each="collection, status: ${collections}"
           th:href="|/collection/${{collection.address}}|"
           th:title="${collection.name}"
           title="Collection"
        >
          <span class="font-bold" th:text="${status.count}">1</span>

          <picture>
            <img alt="Collection image" class="rounded-full w-20 h-20" src="../static/img/user-1.svg"
                 th:alt="${collection.name}"
                 th:src="${collection.image}"
            >
          </picture>

          <h4 class="text-lg font-raleway" th:text="${collection.name}">Collection Name</h4>
        </a>
      </div>
      <div class="mt-12 flex flex-wrap items-center justify-center">
        <a class="text-dark-900 bg-yellow px-8 py-4 m-0 border-0 rounded-lg uppercase font-medium text-sm flex flex-nowrap items-center tracking-widest
                  hover:bg-yellow-hover hover:border-yellow-hover"
           href="/explore"
        >
          Explore
        </a>
      </div>
    </div>
  </section>
  <!--/* End of Collections section */-->
</main>
<!--/*<section th:replace="fragments/partners :: partners"></section>*/-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="modals/connect :: connect_modal"></div>

<script defer th:src="@{/bundle/index.js}"></script>
</body>
</html>
