<!DOCTYPE html>
<html lang="en" translate="yes" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head_base(_)">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<section class="nft-hero">
  <picture>
    <source srcset="../static/img/profile-hero.webp" th:srcset="@{/img/profile-hero.webp}" type="image/webp">
    <source srcset="../static/img/profile-hero.jpg" th:srcset="@{/img/profile-hero.jpg}" type="image/jpeg">
    <img alt="Profile Background" class="nft-hero__image" height="275" loading="lazy"
         src="../static/img/profile-hero.jpg"
         th:src="@{/img/profile-hero.jpg}"
         width="340"
    >
  </picture>
</section>
<main class="main-page">
  <section class="nfr-collection section pt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-xxl-3 mb-4 mb-lg-0">
          <!--/* Start Collection Info */-->
          <div class="card card-blur p-0 mt--100">
            <!--/*
            <div class="card__share d-flex position-absolute" style="top: 8px; right: 8px">
              <button class="btn btn-cube" data-bs-target="#ShareModal" data-bs-toggle="modal" type="button"><i
                class="fa-regular fa-share-nodes"
              ></i></button>
              <div class="dropdown">
                <button aria-expanded="false" class="btn btn-cube" data-bs-toggle="dropdown" id="dropdownMenuButton1"
                        type="button"
                >
                  <i class="fa-regular fa-ellipsis-stroke"></i>
                </button>
                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                  <li><a class="dropdown-item border-0" href="#">Report page</a></li>
                </ul>
              </div>
            </div>
            */-->
            <div class="card-body p-4 p-lg-2 p-xl-3 p-xxl-4">
              <div class="d-flex flex-column flex-md-row flex-lg-column align-items-center mb-5">
                <div class="collection__image mb-4 mb-md-0 mb-lg-4 ms-auto ms-md-0 ms-lg-auto me-auto">
                  <img alt="" class="img-fluid rounded-circle" height="80" src="../static/img/user-1.svg"
                       th:src="@{/img/user-1.svg}"
                       width="80"
                  >
                </div>
                <!--/*
                <div class="d-flex mx-0 mx-lg-auto">
                  <a class="btn btn-sm btn-outline-primary me-3" href="#!">Follow</a>
                  <a class="btn btn-sm btn-soft" data-bs-target="#MessageModal" data-bs-toggle="modal"
                     data-bs-whatever="@Tegro"
                     href="#!"
                  >Message</a>
                </div>
                */-->
              </div>
              <h1 class="collection__name fs-24 mb-4">
                <span class="text-truncate" th:text="${{profile.address}}">...</span>
                <!--/*
                <i class="fa-solid fa-circle-check fs-22 color-yellow ms-2"></i>
                */-->
              </h1>
              <div class="collection__desc color-grey mb-4">
                <!--/*
                <p>
                  The first exclusive NFTs on The Open Network about resistance dogs from Tegro.
                </p>
                <a class="collection__link text-white" href="#!" target="__blank">
                  <i class="fa-regular fa-link-simple color-yellow me-2"></i>
                  tegro.com
                </a>
                */-->
              </div>
              <!--/*
              <div class="libermall__soclinks">
                <a class="libermall__soclinks-item ms-0" href="#!"><i class="fa-brands fa-telegram"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-discord"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-instagram"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="libermall__soclinks-item" href="#!"><i class="fa-brands fa-reddit-alien"></i></a>
              </div>
              */-->
            </div>
          </div>
          <!--/* End Start Collection Info */-->
          <!--/* Start Collection Filters */-->
          <!--/*
          <?php
                  require "_collection-filters.php";
                  ?>
                  */-->
          <!--/* End Collection Filters */-->
        </div>
        <div class="col-lg-8 col-xl-8 col-xxl-9">
          <!--/* Start Collection Stat */-->
          <div class="card card-blur mb-4 overflow-auto" id="mouseScroll">
            <div class="d-flex align-items-center justify-content-between">
              <div class="card-blur__item p-4 border-end text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">Blockchain</h5>
                <p class="m-0 text-uppercase fw-medium" style="letter-spacing: 1px;">TON</p>
              </div>
              <div class="card-blur__item p-4 text-center">
                <h5 class="text-uppercase fs-14 color-grey" style="letter-spacing: 1px;">address</h5>
                <p class="m-0 fw-medium text-truncate" style="letter-spacing: 1px;"
                   th:text="${{profile.address}}"
                >...</p>
              </div>
            </div>
          </div>
          <!--/* End Collection Stat */-->
          <!--/* Start Collection Stat */-->
          <div class="overflow-auto mobile__nav-bottom mb-4 px-2" id="mouseScroll">
            <ul class="nav collections__nav list-unstyled d-flex flex-nowrap align-items-center" id="myTab"
                role="tablist"
            >
              <li class="collections__nav-item">
                <button aria-controls="Owned" aria-selected="true"
                        class="collections__nav-link d-flex align-items-center text-nowrap active"
                        data-bs-target="#Owned" data-bs-toggle="tab" id="Owned-tab" role="tab"
                        type="button"
                >Owned <span class="badge bg-grey ms-2"><!--/* TODO: Number of owned items */--></span></button>
              </li>
              <!--/*
              <li class="collections__nav-item ">
                <button aria-controls="Onsale" aria-selected="false"
                        class="collections__nav-link d-flex align-items-center text-nowrap" data-bs-target="#Onsale"
                        data-bs-toggle="tab" id="Onsale-tab" role="tab"
                        type="button"
                >On sale <span class="badge bg-grey ms-2">24</span></button>
              </li>
              <li class="collections__nav-item">
                <button aria-controls="Created" aria-selected="false"
                        class="collections__nav-link d-flex align-items-center text-nowrap" data-bs-target="#Created"
                        data-bs-toggle="tab" id="Created-tab" role="tab"
                        type="button"
                >Created <span class="badge bg-grey ms-2">24</span></button>
              </li>
              <li class="collections__nav-item">
                <button aria-controls="Activity" aria-selected="false"
                        class="collections__nav-link d-flex align-items-center text-nowrap" data-bs-target="#Activity"
                        data-bs-toggle="tab" id="Activity-tab"
                        role="tab" type="button"
                >Activity
                </button>
              </li>
              <li class="collections__nav-item">
                <button aria-controls="Sold" aria-selected="false"
                        class="collections__nav-link d-flex align-items-center text-nowrap" data-bs-target="#Sold"
                        data-bs-toggle="tab" id="Sold-tab" role="tab"
                        type="button"
                >Sold <span class="badge bg-grey ms-2">11</span></button>
              </li>
              <li class="ms-0 ms-md-autp ms-lg-0 ms-xl-auto">
                <select aria-label="Select Category" class="form-select">
                  <option selected>Recently listed</option>
                  <option value="1">Price: low to high</option>
                  <option value="2">Price: high to low</option>
                  <option value="3">Auction ending soon</option>
                </select>
              </li>
              */-->
            </ul>
          </div>
          <div class="tab-content py-4" id="myTabContent">
            <div aria-labelledby="Owned-tab" class="tab-pane fade show active" id="Owned" role="tabpanel">
              <div class="row">
                <div th:each="item: ${items}"
                     th:insert="cards/item :: item_card(item)"
                     th:remove="tag"
                ></div>
              </div>
              <div class="d-flex flex-wrap mt-1">
                <a class="btn btn-outline-secondary flex-fill m-2" href="#!"
                   th:href="'?drop=' + ${drop - 16}"
                   th:if="${drop > 0}"
                >
                  <i class="fa-solid fa-arrow-left"></i> LOAD PREVIOUS
                </a>
                <a class="btn btn-outline-secondary flex-fill m-2" href="#!" th:href="'?drop=' + ${drop + 16}">
                  <!--/* TODO: Hide when at the end */-->
                  LOAD NEXT <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <!--/*
            <div aria-labelledby="Onsale-tab" class="tab-pane fade" id="Onsale" role="tabpanel">
              <?php
                        require "_collection-list.php";
                        ?>
            </div>
            <div aria-labelledby="Created-tab" class="tab-pane fade" id="Created" role="tabpanel">
              <?php
                        require "_collection-list.php";
                        ?>
            </div>
            <div aria-labelledby="Created-tab" class="tab-pane fade" id="Created" role="tabpanel">
              <?php
                        require "_collection-list.php";
                        ?>
            </div>
            <div aria-labelledby="Activity-tab" class="tab-pane fade" id="Activity" role="tabpanel">
              <?php
                        require "_activity-list.php";
                        ?>
            </div>
            <div aria-labelledby="Sold-tab" class="tab-pane fade" id="Sold" role="tabpanel">
              <?php
                        require "_collection-list.php";
                        ?>
            </div>
            */-->
          </div>
          <!--/* End Collection Stat */-->
        </div>
      </div>
    </div>
  </section>
</main>
<!--/*<section th:replace="fragments/partners :: partners"></section>*/-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="modals/connect :: #ConnectModal"></div>

<script defer th:src="@{/bundle/index.js}"></script>
</body>
</html>
